---
---
@import "minima";
/* AQUI */
$cor-cangaceiro:#ED7349;

.logo-cangaceiro svg {
   margin-top: 10px;
}
.site-header {
    background: $cor-cangaceiro;
}

.site-header .site-title {
    color: white;
    text-shadow: 1px 1px 10px;
    font-size: 1.5em;
    text-decoration: none;
}

.logo-cangaceiro {
    vertical-align: middle;
}

.gravatar {
    text-align: center;
    margin-bottom: 20px;
}
.gravatar img {
    border-radius: 200px;
    box-shadow: 3px 3px 10px $cor-cangaceiro;
    border: solid 3px $cor-cangaceiro;
    transform: scale(1.3);
    
}
