---
---
@import "minima";
/* AQUI */
.site-header {
    background: #ED7349;
}

.site-header .site-title {
    color: white;
    text-shadow: 1px 1px 10px;
    font-size: 2em;
    text-decoration: none;
}

.logo-cangaceiro {
    vertical-align: middle;
}
